<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.bussiness.mapper.SystemAccountFlowMapper" >
  <resultMap id="BaseResultMap" type="com.xmg.p2p.bussiness.domain.SystemAccountFlow" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="createdDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="accountactiontype" property="accountActionType" jdbcType="TINYINT" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="freezedAmount" property="freezedAmount" jdbcType="DECIMAL" />

  </resultMap>

  <insert id="insert" parameterType="com.xmg.p2p.bussiness.domain.SystemAccountFlow" useGeneratedKeys="true" keyProperty="id" >
    insert into SystemAccountFlow (createdDate, accountactiontype, 
      amount, note, balance, 
      freezedAmount)
    values (#{createDate,jdbcType=TIMESTAMP}, #{accountActionType,jdbcType=TINYINT},
      #{amount,jdbcType=DECIMAL}, #{note,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL}, 
      #{freezedAmount,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xmg.p2p.bussiness.domain.SystemAccountFlow" >
    update SystemAccountFlow
    set createdDate = #{createDate,jdbcType=TIMESTAMP},
      accountactiontype = #{accountActionType,jdbcType=TINYINT},
      amount = #{amount,jdbcType=DECIMAL},
      note = #{note,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DECIMAL},
      freezedAmount = #{freezedAmount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, createdDate, accountactiontype, amount, note, balance, freezedAmount
    from SystemAccountFlow
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, createdDate, accountactiontype, amount, note, balance, freezedAmount
    from SystemAccountFlow
  </select>
</mapper>